/*General*/
html body{
    background-color: #81BEF7;
    font-family: "Franklin Gothic Medium", "Franklin Gothic Medium", sans-serif;
    font-size:15px;
}
input{
    width: 100%;
    padding: 0;
}
textarea{
    width: 100%;
}
.pull-right{
    float: right;
}
.center{
    margin:auto;
}
h3.title{
    display: inline-block;
    padding-right: 10px;
}
.btn{
    margin-bottom:10px !important;
}
.error{
    color: red;
}
/*Welcome View*/
#WelcomeContent{
    margin-top: 40px;
    max-width: 600px;
}
.shrink{
    background: #FFF;
    margin: 12px 2px;
    padding: 8px 4px;
}
#wimage{
    width: 400px;
}
#WelcomeContent select{
    width: 100%;
}
#slogan{
    text-align: center;
}
#signuphere{
    font-weight: bold;
    text-align: center;
    font-size:20px;
}
@media (min-width: 768px){
    #wimage{
		width:130%;
        max-width: 400px;
		float: right;
    }   
}

/*Profile View*/
#ProfileContent{
    margin-top: 10px;
	max-width: 95%;
}
#quickNavBar>span{
    font-size: 25px;
}
#quickNavBar{
    display: block;
	padding-top: 5px;
	padding-left: 20px;
}
#ProfileContent{
	padding-left: 60px;
}
.navbar-toggler{
	font-size: 28px !important;
}
#ProfileContent button.tab{
	background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    height: 50px;
    width: 100%;
    border-radius: 10px;
}
#ProfileContent .tabcontent{
    background-color: #57a8f4;
    padding-bottom: 15px;
    margin: 0px -15px;
    border-radius: 10px;
}
@media (min-width: 768px){
    #navigationBar{
        float:none;
        display: block;
    }
    #quickNavBar{
        display: none;
    }
	#ProfileContent{
		padding-left: 0px;
	}
	#ProfileContent button.tab{
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
	}
	#ProfileContent .tabcontent{
		border-top-left-radius: 0px;
	}
}
/*Profile*/
#ProfileContent button.tab.active {
	background-color: #57a8f4;
}
#ProfileContent button.tab:active{
    background-color: #ccc;
}
#ProfileContent button.tab:hover{
    background-color: #ddd;
}
#ProfileContent .tabcontent:not(.defaultPage){
    display:none;
    border-top-left-radius: 10px;
}
.msgBorder{
    border: 2px dashed;
    margin:5px;
    padding: 5px;
}
#msgWall, #msgWall_browse{
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    height:300px;
    margin:2px 2px 20px 2px;
}
/*Browse*/
form#searchBar{
    margin-top: 20px;
}
#friend_content{
    display: none;
}

